# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
.vscode/settings.json
bigint2.hpp
.vscode/tasks.json
demo
demo.dSYM/Contents/Info.plist
dummy.dSYM/Contents/Info.plist
dummy.dSYM/Contents/Resources/DWARF/dummy
try.dSYM/Contents/Info.plist
try.dSYM/Contents/Resources/DWARF/try
